body, section, header, nav, ul, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: white;
    padding: 50px;
    width: 1000px;
    height: 569px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.main-header img {
    width: 125px;
    height: 125px;
}

.profile {
    display: flex;
    align-items: center;
}

.author {
    margin-left: 15px;
}

.author h3 {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.author span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.edit button {
    background-color: #2b2b2b;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 110px;
    padding: 18px;
    border: none;
}

.header-menu {
    padding: 25px 0 25px 0;
    margin-bottom: 20px;
}

.header-menu nav ul {
    list-style: none;
}

.header-menu nav ul li {
    display: inline;
    margin-right: 20px;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#home {
    font-weight: bold;
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 70px 0;
}

.title h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b2b2b;
}

.date {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.boxes {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    width: 25%;
    padding: 20px;
    color: #2b2b2b;
}

.box h5 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-1 {
    background-color: #2b2b2b;
    color: white;
}

.box-h {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.parse {
    color: #29dba8;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.value-box-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}

.value {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

